.card-stack-container {
    /* Maintain 143:200 aspect ratio while adapting to device constraints */
    width: min(30vw, 25dvh * (143/200));
    height: min(25dvh, 30vw * (200/143));
    border: #bbb2 1px solid;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.card-image {
    width: min(30vw, 25dvh * (143/200));
    height: min(25dvh, 30vw * (200/143));
    object-fit: contain;
}


